body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100dvh !important;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end !important;
  background-color: black;
  color: white;
}
